canvas {
    height: 250px !important;
}

.ant-space-container-dashboard {
    @media (min-width: 431px) and (max-width: 1366px) {
        width: 95%;
    }

    @media (max-width: 430px) {
        width: 280%;
    }
}

.ant-space-container-dashboard .ant-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ant-space-container-dashboard .ant-space-item {
    max-width: 16%;
}

.ant-space-container-dashboard .ant-select {
    max-width: 100%;
}